<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Insigume</title>

	<link rel="stylesheet"  href="css/style.css">
	<link rel="icon"  href="http://insivumeh.gob.gt/images/rss.png">
</head>
<body>
	<div style="margin:0 auto; width:962px; height: 100%; margin:0 auto;">
  <div style="width:962px; height:120px; margin:0 auto; background-color: #e8e8e8">
    <h1 style="text-align: center; font-family: Arial">
      <br>Metereologia </h1>
  </div>
  <br>
   <form class="tabela" style="position: 100%; text-align: center; font-family: verdana">
  <span class="hours">00</span>:<span class="minutes">00</span>:<span class="seconds">00</span>

  <br>
  <br>

  <body>
    <table>
      <caption>INSIVUMEH</caption>
      <thead>
        
        <tr>
          <th scope="col"></th>
          <th scope="col">Máxima</th>
          <th scope="col">Mínima</th>
          <th scope="col">Média</th>
        </tr>
        
      </thead>
      
      <tfoot>
        <tr>
          <td colspan="3">.
          </td>
        </tr>
      </tfoot>

      <tbody>
        <tr>
          <td scope="row">Temperatura</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>

        <tr>
          <td scope="row">humedad</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>

        <tr>
          <td scope="row">direccion del viento</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        
        <tr>
          <td scope="row">Velocidad del viento</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        
        <tr>
          <td scope="row">Precision</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>

      </tbody>
    </table>
    <button>metereologia</button>
  </body>

  <h5>
      <br>
      <a href = ></a> 
  </h5>
  <br>
     <form>

</div>
<script>
  h1=t
  h2=h
</script>
</body>
</html>